POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=metabolomics
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/metabolomics
SECRET_KEY=change-me-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
